body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #15d315;
  }
  
  .countdown {
    font-size: 72px;
    color: #333;
  }